**************************************************
*                                                *
* DRILL TAPE SUMMARY REPORT                      *
*                                                *
* D:\JOBS\UPWORKS\MOTHERBOARD1\MOTHERBOARD1.MAX  *
* Sun Mar 05 23:31:55 2017                       *
*                                                *
**************************************************

TOOL     SIZE     QUANTITY FEED     SPEED    
---------------------------------------------
T1       28       2        200      100                                                                                 
T2       34       2        200      100                                                                                 
T3       35       15       200      100                                                                                 
T4       38       15       200      100                                                                                 
T5       39       15       200      100                                                                                 
T6       40       136      200      100                                                                                 
T7       42       106      200      100                                                                                 
T8       118      4        200      100                                                                                 
