## Structure of the folders

| Module Name | ReadMe | ViewMe | Folders |Module Codename|
|------|-------|-------|----|----------|----|
| sleepy |:white_check_mark: Readme.md |:white_check_mark: OK |:white_check_mark: _source_|<li>:white_check_mark: MDL-echomods_case</li></ul>|
| tobo |:white_check_mark: Readme.md |:white_check_mark: OK |:white_check_mark: _build_, _source_, _images_|<li>:white_check_mark: MDL-tobo_hvpulser</li></ul>|
| cletus |:white_check_mark: Readme.md |:white_check_mark: OK |:white_check_mark: _source_|<li>:white_check_mark: MDL-echomods_servopiezo</li></ul>|
| doj |:white_check_mark: Readme.md |:white_check_mark: OK |:white_check_mark: _source_, _images_|<li>:white_check_mark: MDL-echomods_motherboard</li></ul>|
| oneeye |:white_check_mark: Readme.md |:white_check_mark: OK |:white_check_mark: _source_, _images_|<li>:white_check_mark: MDL-oneeye_controlunit</li></ul>|
| croaker |:white_check_mark: Readme.md |:white_check_mark: OK |:white_check_mark: _source_|<li>:white_check_mark: MDL-probe_echomods_controler_croaker</li></ul>|
| retroATL3 |:white_check_mark: Readme.md |:white_check_mark: OK |:white_check_mark: _software_, _source_, _images_|<li>:white_check_mark: MDL-probe_retroATL3</li></ul>|
| toadkiller |:white_check_mark: Readme.md |:white_check_mark: OK |:white_check_mark: _source_|<li>:white_check_mark: MDL-echomods_prudaq</li></ul>|
| kina |:white_check_mark: Readme.md |:white_check_mark: OK |:white_check_mark: _source_|<li>:white_check_mark: MDL-echomods_UDP-slow-streamer</li></ul>|
| goblin |:white_check_mark: Readme.md |:white_check_mark: OK |:white_check_mark: _datasheet_, _build_, _source_, _images_|<li>:white_check_mark: MDL-goblin_tgcenvadc</li></ul>|
| silent |:white_check_mark: Readme.md |:white_check_mark: OK |:white_check_mark: _software_, _source_, _images_|<li>:white_check_mark: MDL-echomods_emulator</li></ul>|
| mogaba |:white_check_mark: Readme.md |:white_check_mark: OK |:white_check_mark: _source_, _images_|<li>:white_check_mark: MDL-mogaba_small_powersupply</li></ul>|
## Contents of the Readme.md 

| Module Name | Blocks | TODO | 
|------|------|-------|
| sleepy |<ul><li>:white_check_mark: 1 input(s) </li><li>:white_check_mark: 1 output(s) </li></ul>|<ul><li>:white_check_mark: 2 todo(s) </li><li>:white_check_mark: 1 done(s) </li></ul>|
| tobo |<ul><li>:white_check_mark: 6 input(s) </li><li>:white_check_mark: 3 output(s) </li></ul>|<ul><li>:white_check_mark: 1 todo(s) </li><li>:white_check_mark: 8 done(s) </li></ul>|
| cletus |<ul><li>:white_check_mark: 6 input(s) </li><li>:white_check_mark: 2 output(s) </li></ul>|<ul><li>:white_check_mark: 2 todo(s) </li><li>:white_check_mark: 1 done(s) </li></ul>|
| doj |<ul><li>:white_check_mark: 1 input(s) </li><li>:white_check_mark: 1 output(s) </li></ul>|<ul><li>:white_check_mark: 4 todo(s) </li><li>:white_check_mark: 4 done(s) </li></ul>|
| oneeye |<ul><li>:white_check_mark: 3 input(s) </li><li>:white_check_mark: 4 output(s) </li></ul>|<ul><li>:white_check_mark: 1 todo(s) </li><li>:white_check_mark: 1 done(s) </li></ul>|
| croaker |<ul><li>:white_check_mark: 3 input(s) </li><li>:white_check_mark: 4 output(s) </li></ul>|<ul><li>:white_check_mark: 4 todo(s) </li><li>:white_check_mark: 1 done(s) </li></ul>|
| retroATL3 |<ul><li>:white_check_mark: 6 input(s) </li><li>:white_check_mark: 3 output(s) </li></ul>|<ul><li>:white_check_mark: 2 todo(s) </li><li>:white_check_mark: 5 done(s) </li></ul>|
| toadkiller |<ul><li>:white_check_mark: 4 input(s) </li><li>:white_check_mark: 5 output(s) </li></ul>|<ul><li>:white_check_mark: 1 todo(s) </li><li>:white_check_mark: 1 done(s) </li></ul>|
| kina |<ul><li>:white_check_mark: 5 input(s) </li><li>:white_check_mark: 5 output(s) </li></ul>|<ul><li>:white_check_mark: 4 todo(s) </li><li>:white_check_mark: 1 done(s) </li></ul>|
| goblin |<ul><li>:white_check_mark: 8 input(s) </li><li>:white_check_mark: 3 output(s) </li></ul>|<ul><li>:white_check_mark: 3 todo(s) </li><li>:white_check_mark: 8 done(s) </li></ul>|
| silent |<ul><li>:white_check_mark: 3 input(s) </li><li>:white_check_mark: 1 output(s) </li></ul>|<ul><li>:white_check_mark: 7 todo(s) </li><li>:white_check_mark: 7 done(s) </li></ul>|
| mogaba |<ul><li>:white_check_mark: 2 input(s) </li><li>:white_check_mark: 4 output(s) </li></ul>|<ul><li>:white_check_mark: 1 todo(s) </li><li>:white_check_mark: 4 done(s) </li></ul>|
