## Structure of the folders

| Module Name | ReadMe | ViewMe | Folders |
|------|-------|----|----------|----|
| sleepy |:green_heart: Readme.md |:green_heart: OK |:green_heart: _source_|<li>:green_heart: 1 input(s) </li></ul>|
| tobo |:green_heart: Readme.md |:green_heart: OK |:green_heart: _build_, _source_, _images_|<li>:green_heart: 6 input(s) </li></ul>|
| cletus |:green_heart: Readme.md |:green_heart: OK |:green_heart: _source_|<li>:green_heart: 6 input(s) </li></ul>|
| doj |:green_heart: Readme.md |:green_heart: OK |:green_heart: _source_|<li>:green_heart: 1 input(s) </li></ul>|
| oneeye |:green_heart: Readme.md |:green_heart: OK |:green_heart: _source_|<li>:green_heart: 3 input(s) </li></ul>|
| croaker |:green_heart: Readme.md |:green_heart: OK |:green_heart: _source_|<li>:green_heart: 3 input(s) </li></ul>|
| retroATL3 |:green_heart: Readme.md |:green_heart: OK |:green_heart: _software_, _source_, _images_|<li>:green_heart: 6 input(s) </li></ul>|
| toadkiller |:green_heart: Readme.md |:green_heart: OK |:green_heart: _source_|<li>:green_heart: 4 input(s) </li></ul>|
| kina |:green_heart: Readme.md |:green_heart: OK |:green_heart: _source_|<li>:green_heart: 5 input(s) </li></ul>|
| goblin |:green_heart: Readme.md |:broken_heart: Failed |:green_heart: _datasheet_, _build_, _source_, _images_|<li>:green_heart: 8 input(s) </li></ul>|
| silent |:green_heart: Readme.md |:green_heart: OK |:green_heart: _software_, _source_|<li>:green_heart: 5 input(s) </li></ul>|
| mogaba |:green_heart: Readme.md |:green_heart: OK |:green_heart: _source_|<li>:green_heart: 2 input(s) </li></ul>|
## Structure of the folders

| Module Name | Blocks | TODO | 
|------|------|-------|
| sleepy |<ul><li>:green_heart: MDL-echomods_case</li><li>:green_heart: 1 output(s) </li></ul>|<ul><li>:green_heart: 2 todo(s) </li><li>:green_heart: 1 done(s) </li></ul>|
| tobo |<ul><li>:green_heart: MDL-tobo_hvpulser</li><li>:green_heart: 3 output(s) </li></ul>|<ul><li>:green_heart: 3 todo(s) </li><li>:green_heart: 5 done(s) </li></ul>|
| cletus |<ul><li>:green_heart: MDL-echomods_servopiezo</li><li>:green_heart: 2 output(s) </li></ul>|<ul><li>:green_heart: 2 todo(s) </li><li>:green_heart: 1 done(s) </li></ul>|
| doj |<ul><li>:green_heart: MDL-echomods_motherboard</li><li>:green_heart: 1 output(s) </li></ul>|<ul><li>:green_heart: 1 todo(s) </li><li>:green_heart: 1 done(s) </li></ul>|
| oneeye |<ul><li>:green_heart: MDL-oneeye_controlunit</li><li>:green_heart: 4 output(s) </li></ul>|<ul><li>:green_heart: 1 todo(s) </li><li>:green_heart: 1 done(s) </li></ul>|
| croaker |<ul><li>:green_heart: MDL-probe_echomods_controler_croaker</li><li>:green_heart: 4 output(s) </li></ul>|<ul><li>:green_heart: 4 todo(s) </li><li>:green_heart: 1 done(s) </li></ul>|
| retroATL3 |<ul><li>:green_heart: MDL-probe_retroATL3</li><li>:green_heart: 3 output(s) </li></ul>|<ul><li>:green_heart: 2 todo(s) </li><li>:green_heart: 5 done(s) </li></ul>|
| toadkiller |<ul><li>:green_heart: MDL-echomods_prudaq</li><li>:green_heart: 5 output(s) </li></ul>|<ul><li>:green_heart: 1 todo(s) </li><li>:green_heart: 1 done(s) </li></ul>|
| kina |<ul><li>:green_heart: MDL-echomods_UDP-slow-streamer</li><li>:green_heart: 5 output(s) </li></ul>|<ul><li>:green_heart: 4 todo(s) </li><li>:green_heart: 1 done(s) </li></ul>|
| goblin |<ul><li>:green_heart: MDL-goblin_tgcenvadc</li><li>:green_heart: 3 output(s) </li></ul>|<ul><li>:green_heart: 4 todo(s) </li><li>:green_heart: 7 done(s) </li></ul>|
| silent |<ul><li>:green_heart: MDL-echomods_emulator</li><li>:green_heart: 1 output(s) </li></ul>|<ul><li>:green_heart: 4 todo(s) </li><li>:green_heart: 1 done(s) </li></ul>|
| mogaba |<ul><li>:green_heart: MDL-mogaba_small_powersupply</li><li>:green_heart: 4 output(s) </li></ul>|<ul><li>:green_heart: 2 todo(s) </li><li>:green_heart: 2 done(s) </li></ul>|
